@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@*<address>
        8, Lehman Street<br />
        London<br />
        United Kingdom<br />
    </address>*@

@*<address>
    <strong>Web site:</strong> <a href="http:www.mastreeno.com">www.mastreeno.com</a>
</address>*@
<address>
    <strong>Marketing:</strong> <a href="mailto:info@mastreeno.com">info@mastreeno.com</a>
</address>