<div class="col-xs-12 ibuy-technology" id="technology">
    <h2>List of technologies</h2>
    <div class="col-xs-4">
        <ul>
            <li>ASP.NET MVC 5</li>
            <li>ASP.NET Identity 2.0</li>
            <li>Entity Framework 6.1</li>
        </ul>
    </div>
    <div class="col-xs-4">
        <ul>
            <li>Twitter Bootstrap</li>
            <li>Ratchet2</li>
            <li>WURFL & WURFL-JS</li>
            <li>jQuery</li>
        </ul>
    </div>
    <div class="col-xs-4">
        <ul>
            <li>Layered Architecture</li>
            <li>Domain Model</li>
            <li>Repositories</li>
        </ul>   
    </div>
    <a class="btn btn-default pull-right" href="#top">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
</div>
