<div class="col-xs-12 ibuy-social-widgets" id="social">
    <h2>Social bites</h2>
    <div class="col-xs-6">
        <a class="twitter-timeline" href="https://twitter.com/despos" data-widget-id="452212650231881728">Tweets by @@despos</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
    </div>
    <div class="col-xs-6">
        <a class="twitter-timeline" href="https://twitter.com/andysal74" data-widget-id="452211191293554688">Tweets by @@andysal74</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
    </div>
    
    <a class="btn btn-default pull-right" href="#top">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
</div>
