<div style="margin-top: 20px">
    <div class="list-group">
        <a href="@Url.Content("~/orders")" class="list-group-item">
            <h3 class="list-group-item-heading">Manage orders</h3>
            <p class="list-group-item-text">Retrieve and review your orders; check their state and make updates.</p>
        </a>
    </div>
    <div class="list-group">
        <a href="@Url.Content("~/order/new")" class="list-group-item">
            <h3 class="list-group-item-heading">Shop now!</h3>
            <p class="list-group-item-text">Fill shopping cart and buy stuff in a few clicks.</p>
        </a>
    </div>
</div>