<div class="col-xs-4">
    <div class="media">
        <a class="pull-left" href="~/">
            <img class="media-object" style="padding:5px;" src="@Url.Content("~/Content/Images/main/ibuystuff.png")" alt="I.Buy.Stuff" />
        </a>
        <div class="media-body">
            <h2><a href="~/">I&bull;Buy&bull;Stuff</a></h2>
            <span class="badge"><i>(alpha >> DM)</i></span> 
        </div>
    </div>
</div>
<div class="col-xs-4 ibuy-welcome">
    @Html.Partial("desktop_p_username")
</div>
<div class="text-center col-xs-4 ibuy-facebook">
    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2Fnaa4e&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=160&amp;appId=158029597675501" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowtransparency="true"></iframe>
</div>
